manifest {
    name = 'Susie-Coloc-Nxf'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/olivierlabayle/nxf-susie-coloc/'
    description = 'Pipeline for colocalization of GWAS results'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04'
    version = '0.11.0'
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
}