params {
    GWAS_OUTCOME_VAR = 0.16
    GWAS_OUTCOME_TYPE = "cc"
    GTEX_FILES = "/gpfs/igmmfs01/eddie/ISARIC4C/GTEx_Analysis_v10_QTLs/GTEx_Analysis_v10_eQTL_all_associations/*.parquet"
    GTEX_TISSUES = ["Whole_Blood", "Lung", "Spleen", "Heart_Left_Ventricle", "Heart_Atrial_Appendage", "Artery_Coronary", "Artery_Aorta", "Minor_Salivary_Gland", "Esophagus_Mucosa", "Colon_Sigmoid", "Colon_Transverse", "Liver", "Adipose_Visceral_Omentum", "Adipose_Subcutaneous", "Kidney_Cortex"]
    GWAS_RESULTS = "/gpfs/igmmfs01/eddie/ISARIC4C/olivier/GenOMICC_Mortality/data/META_ANALYSIS.ALIVE_AT_ASSESSMENT.gwas.tsv"
    REFERENCE_PREFIX = "/gpfs/igmmfs01/eddie/ISARIC4C/olivier/data/kgp-merged-unrelated-or3/kgp.merged.unrelated"
    USE_SYSIMAGE = false
    LOCUS_KB = 250


    GWAS_MIN_SIG_CLUMP_SIZE = 7
    GWAS_LEAD_PVALUE = 1e-6
    GWAS_P2_PVALUE = 5e-5
    GWAS_R2_THRESHOLD = 0.2
    GWAS_CLUMP_KB = 500
    // GTEX_SAMPLE_SIZE = 940
    // SUSIE_COVERAGE = 0.8
    // SUSIE_MAXIT = 1000
    // GWAS_FP_DIRS = "results_backup/gwas_fp_results/*"
}