params {
    GTEX_FILES = "/gpfs/igmmfs01/eddie/ISARIC4C/GTEx_Analysis_v10_QTLs/GTEx_Analysis_v10_eQTL_all_associations/*.parquet"
    GTEX_TISSUES = ["Lung"]
    GWAS_RESULTS = "/gpfs/igmmfs01/eddie/ISARIC4C/olivier/data/Covid19/covid_19_results_2026/meta_analysis_workdir/META_ANALYSIS.all.tsv"
    REFERENCE_PREFIX = "/gpfs/igmmfs01/eddie/ISARIC4C/olivier/data/kgp-merged-unrelated-or3/kgp.merged.unrelated"
    USE_SYSIMAGE = false
    LOCUS_KB = 500
    GWAS_OUTCOME_VAR = 0.33
    GWAS_OUTCOME_TYPE = "cc"
    GTEX_SAMPLE_SIZE = 940
    SUSIE_COVERAGE = 0.8
    SUSIE_MAXIT = 1000
    GWAS_FP_DIRS = "results_backup/gwas_fp_results/*"
}