process {
    container = "olivierlabayle/nxf-susie-coloc:main"

    memory = { 8.GB * task.attempt }

    time = { 10.hour * task.attempt }

    cpus = 1

    maxSubmit = 1000

    withLabel: multithreaded {
        cpus = 4
    }

    withLabel: bigmem {
        memory = { 30.GB * task.attempt }
    }
}